<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>View</title>
</head>
<body>
  <div class="container" style="background-color: #fff;">
    <div class="layout">
      <div class="first"></div>
      <div class="second"></div>
      <div class="scores" data-scores="<%= scores %>">
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
  <script src="js/home/scores.js"></script>
</body>
</html>